*{margin: 0px;}
.menu-main {
    margin: 0px 0 0px;
    padding: 25px 0 5px;
    text-align: center;
    background: white;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
    content: "|";
    color: #606060;
    display: inline-block;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a:before,
.menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    background: darkgray;
    transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}


.footer-basic {
    padding:40px 0;
    background-color:white;
    color:#4b4c4d;
}

.footer-basic ul {
    padding:0;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}

.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    font-family: 'Ubuntu Condensed', sans-serif;
    opacity:0.8;
}

.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

#contactus{
    display: inline-block;
    margin-left: 200px;
}
#contactus *{
    margin-top: 15px;
    font-family: 'Ubuntu Condensed', sans-serif;
}
#contactus p{
    font-size: 20px;
    color: #9d999d;
}
#contactus h1, h2{
    color: #4b4c4d;
}
#email{
    margin-bottom: 30px;}
#contactus a, .teas a:visited {color: #9d999d;}

.content{
    display: inline-block;
}
.map{
    margin-left: 100px;
    display: inline;
}
